<%= form_with(model: @client, local: true) do |form| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "erros, ") %> Campos incorretos :</h2>

      <ul>
        <% @client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Teste Telefone </label>
    <%= form.text_field :phone,  id: "phone", maxlength: "15", name: "client[phone]" %>
    <%=  javascript_pack_tag 'masktel' %>
   
  </div>

  <div class="field">
    <label>Teste valor </label>
    <input type="text" id="valor"  placeholder="0,00" name="client[price]" />
    <%=  javascript_pack_tag 'maskprice' %>
   
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>
  <div class="field"  >
    <%= form.label :type %>
    <%= form.text_field :price %>  
  </div>

  <div class="field" id="radiobuttons1" >
      <%= radio_button_tag 'exp', "cpf" %> CPF
      <%= radio_button_tag 'exp', "cnpj" %> CNPJ  : 
  </div>  

  <div class="field">  
      <%= form.text_field :cpf_cnpj, id: "test", name: "client[cpf_cnpj]" %> 
      <%=  javascript_pack_tag 'radiobuttons' %>
  </div>  
 
  <div class="actions"  >
    <%= form.submit "Salvar", id: "btn" %>
   
  </div>
<% end %>
