<%= form_with(model: @client, local: true) do |form| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "erros, ") %> Campos incorretos:</h2>

      <ul>
        <% @client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :phone, "Telefone" %>
    <%= form.text_field :phone, class: "phone-with-mask", maxlength: "15" %>
  </div>

  <div class="field">
    <%= form.label :price, "Preço" %>
    <%= form.text_field :price, class: "price-with-mask", placeholder: "0,00" %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :price %>
  </div>

  <div class="field" style="display: flex">
    <%= label_tag do %>
      <%= radio_button_tag :document_type, "cpf" %>
      CPF
    <% end %>

    <%= label_tag do %>
      <%= radio_button_tag :document_type, "cnpj" %>
      CNPJ
    <% end %>
  </div>

  <div class="field">
    <%= form.text_field :cpf_cnpj, class: "cpf-cnpj-with-mask",
      disabled: true, placeholder: "Escolha CPF ou CNPJ" %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", id: "btn" %>
  </div>
<% end %>

<%= javascript_pack_tag "masktel" %>
<%= javascript_pack_tag "maskprice" %>
<%= javascript_pack_tag "radiobuttons" %>
